/* ADD QUIZ FORM
AddQuizForm.js: POST
*/
/* ADD QUIZ FORM */
#newQuizForm{
    display: flex;
    justify-content: center;
    background-color: #BFBFBF;
    border-radius: 10px;
    padding: 10px 5px;
    margin: 0px;
}
#addQuizForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* LAYOUT */
#newQuizStack1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#newQuizNameBlock{
    display: flex;
    align-items: center;
    justify-content: center;
}
#addQuizHeading,#newQuestionHeadingBlock{
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
#newQuestionBlock, 
#newCorrectAnswerBlock, 
#altAns1, #altAns2, #altAns3{
    display: flex;
    align-items: center;
    justify-content: center;
}
#newQuestionBtnStack{
    display: flex;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#addQuestionDiv{
    background-color: #808080;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px
}
.addQuestionHeading{
    font-size: 24px;
    font-family: "Playpen Sans", cursive;
    font-weight: 800;
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
}
.addQuizInput{
    width: 230px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: solid black 1px;
    height: 40px;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
}
.newQuizLabel{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* BUTTONS */
#newQuestionBtn{
      height: 40px;
    width: 180px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border: solid #323A42 3px;
}
#newQuestionBtn:hover{
    height: 40px;
    width: 180px;
    padding: 0px;
    margin: 10px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: solid #323A42 3px;
    background-color: #323A42;
}