.btnText{
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

.userDetailsLabel{
    display: flex;
    padding: 10px;
        gap: 10px;
}
.dataTextHead{
    text-transform: uppercase;
    font-family: "Playpen Sans", cursive
}
.dataText{
    text-transform: uppercase;
    font-family: "Playpen Sans", cursive
}

.emailData{
    text-transform: lowercase;
    font-family: "Playpen Sans", cursive;
        font-size: 20px;
}
#adminDataText, #usernameDataText,.userFullName{
    text-transform: uppercase;
    font-family: "Playpen Sans", cursive;
    font-size: 20px,
}
