#toggleEditUserRow{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#editUserStack{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
    padding: 0px;;
}



.btnText{
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
#userDetails{
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    border: solid;
    background-color: #9CD034;
}
.userDetailsLabel{
    display: flex;
    padding: 10px;
        gap: 10px;
}
.dataTextHead{
    text-transform: uppercase;
    font-family: "Playpen Sans", cursive
}
.dataText{
    text-transform: uppercase;
    font-family: "Playpen Sans", cursive
}

.emailData{
    text-transform: lowercase;
    font-family: "Playpen Sans", cursive;
        font-size: 20px;
}
#adminDataText, #usernameDataText,.userFullName{
    text-transform: uppercase;
    font-family: "Playpen Sans", cursive;
    font-size: 20px,
}
