/* EDITUSERFORMS.css */
#editUserForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#editUserDetails{
    display: flex;
}
/* Edit Password Form
EditPasswordForm.js 
PATCH: editPassword
*/
#editPasswordForm{
    width: 100%;
    background-color: silver;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#editPswdBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#currentPasswordInputStack{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#currentPswdBlock, #newPasswordBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#showCurrentPswdBlock, #showNewPswdBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitPswdChangeBlock{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
#editPswdBtn
#editPswdBtn:hover{
    height: 40px;
    width: 200px;
    margin: 10px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: solid #323A42 3px;
    background-color: #323A42;
}