/* EDITUSERFORMS.css */
#editUserForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#editUserDetails{
    display: flex;
}
#editUserFormStack{
    display: flex;
    align-items: center;
}
#editUsername,
#fullNameEditBlock,
#userEmailEdit{
    display: flex;
    align-items: baseline;
}
#firstNameEdit, #lastNameEdit{
    display: flex;
    align-items: baseline;
}
/* Edit Password Form
EditPasswordForm.js 
PATCH: editPassword
*/
#editPasswordForm{
    width: 100%;
    background-color: silver;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#editPswdBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#currentPasswordInputStack{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editPswdInput{
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    gap: 5px;
}
#currentPswdBlock, #newPasswordBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
#showCurrentPswdBlock, #showNewPswdBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitPswdChangeBlock{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
#editUserBtn,
#editPswdBtn{
  height: 40px;
    width: 180px;
    margin: 10px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border: solid #323A42 3px;  
}
#editUserBtn:hover,
#editPswdBtn:hover{
    height: 40px;
    width: 180px;
    margin: 10px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: solid #323A42 3px;
    background-color: #323A42;
}