/* HEADER  */
#header{
    display: flex;
    width: 100%;
    margin: 10px 0px;
    flex-direction: column;
    background-color: #a9a9a9;
}
/* Layout */
#headerRow1,
#headerRow2{
    display: flex;
    width: 100%;
    margin: 0px;
    justify-content: center;
    padding: 0px;
}
#headerCol1{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#headerStack{
        display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#headingBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* HEADINGS */
#appHeading{
    font-family: "Winky Rough", sans-serif;
    font-weight: 800;
    text-decoration: underline;
    font-size: 48px;
}
#pageHeading{
    font-family: "Alkatra", system-ui;
    font-weight: 700;
    font-size: 30px;
}
/* CLOCK */
#headerClock{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #D6D6D6;
    border-radius: 5px;
    padding: 10px 5px 5px 5px;
}

/* DATE AND TIME LIST */
#dateTimeList{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 0px;
    padding: 0px;
    width: 150px;
    background-color: transparent;
}
#timeItem,
#dateItem{
    display: flex;
    gap: 5px;
    background-color: transparent;
    margin: 0px;
    border: none;
    padding: 0px;
}
/* TEXT */

.clockListText{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    font-size: 16px;
    gap: 5px;
    font-family: "Playpen Sans", cursive;
    font-weight: 700;
    color: #000;
}
/* TIME AND DATE ICONS */
.clockListIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    color: #000;
}
/* NAVIGATION BAR */
#loginNavbar,
#navbar {
    display: flex;
    gap: 10px;
    list-style-type: none;
    cursor: pointer;
    padding: 5px;
    margin: 0px;
    background-color: #D6D6D6;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    width: 200px;
}
/* Links */
.linkItem {
    width: 200px;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: #E8F0F6;
    height: 40px;
    align-items: center;
    margin: 0px;
}
a, .refLink{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #000;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    background-color: #E8F0F6;
}
a:hover, .refLink:hover{
font-family: "Roboto Mono", monospace;
 background-color: #323A42;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    padding: 5px 3px;
    border-radius: 5px;
    margin: 0px;
    color: #FFF;
}