/* LOGIN FORM
LoginForm.js
*/
#loginForm{
        display: flex;
    justify-content: center;
        width: 404px;
    background-color: #6c757d;
        border: solid #323A42;
}
/* Layout */
#loginDetails{
        display: flex;
    flex-direction: column;
    align-items: center;
        padding: 10px;
     border-radius: 5px;
     width: 300px;
        margin: 5px 0px;
        background-color: #A8AEB3;
}
/* BOOTSTRAP */
/* Stack */
#loginStack1, #loginStack2{
    display: flex;
}
#formHeadingBlock{
    display: flex;
    justify-content: center;
}
#usernameBlock, #passwordBlock{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#loginBtnBlock{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
/* Text */
.loginLabel{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.loginLabelText{
        margin: 0px;
    padding: 5px;
    font-weight: 700;
}
.input{
        width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: solid black 1px;
    height: 40px;
}
/* Buttons */

#loginBtn{
       height: 40px;
    width: 180px;
    margin: 10px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #000;
    border: solid #323A42 3px;
}
#loginBtn:hover{
    height: 40px;
    width: 180px;
    margin: 10px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #fff;
    border: solid #323A42 3px;
    background-color: #323A42;
}