/* QUIZFORMS.css 
SelectQuizForm.js
StartQuizForm.js
EditQuizForm.js: PATCH
*/
/* SELECT QUIZ FORM */
#selectFormHeading{
    display: flex;
    justify-content: center;
}
#selectQuizLabelBlock{
        display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#selectQuizOption, #quizOptions{
    width: 200px;
}
Form.select, #selectQuizForm{
    width: 200px;
        text-align: center;
        font-family: "Roboto Mono", monospace;
            border: solid 2px;
    font-weight: 700;
}
#selectQuizBlock{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
/* BUTTONS */
#startQuizBtn{
      height: 40px;
    width: 180px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border: solid #323A42 3px;
}
#startQuizBtn:hover{
      height: 40px;
    width: 180px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border: solid #323A42 3px;
}
#editQuizForm{
    display: flex;
    flex-direction: column;
    align-items: center;
        width: 80%;
    border: solid;
    background-color: #BFBFBF;

}
.formSectionHeading{
        font-size: 22px;
        font-family: "Alkatra", system-ui;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}
#editQuizStack1, #editQuizStack2{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}
#editQuizStack3{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}
#editQuestionsStack{
        display: flex;
    margin: 10px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}
#editQuestions{
    background-color: #808080;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 10px;
}
#editQuizNavBtns{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#editQuestionsBlock{
        width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column
}
#editQuizBtn{
     height: 40px;
    width: 180px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border: solid #323A42 3px;
}
.editQuestion,.editQuesCorrectAnswer, #editAltOptions{
    display: flex;
    flex-direction: column;
    align-items: center;

}