/* QuizDisplay.css
QuizDisplay.js
Quiz.js
*/
/* QUIZ DISPLAY */
#quizDisplayBlock{
    width: 500px;
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}
#startQuizCol{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}


