/*REGISTRATION FORM  */
#registrationForm{
    display: flex;
    background-color: #6c757d;
    flex-direction: column;
    margin: 0px;
    padding: 10px 5px;
    width: 100%;
}
#registrationDetails{
    background-color: #A8AEB3;
}
#regisHeadingRow,
#regisRow1, #regisRow2, #regisRow3, #regisRow4{
    width: 100%;
    margin: 0px;
    padding: 10px 0px;

}
/* Heading Col */
#regisCol1, #regisCol2, #regisCol3{
    margin: 0px;
    padding: 0px;
        display: flex;
    justify-content: center;
}
/* Username + FullName */
#regisCol4, #regisCol5{
    margin: 0px;
    padding: 0px;
    display: flex;
} 
/* Email + Date of Birth + admin */
#regisCol6, 
#regisCol7, #regisCol8{
    margin: 0px;
    padding: 0px;
    display: flex;

}
/* Password + Buttons */
#regisCol9, #regisCol10{
    margin: 0px;
    padding: 0px;
    display: flex;
}
#regisName{
        display: flex;
    align-items: baseline;
    gap: 10px;
}
#regisEmail{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}
#adminRegistration{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
    flex-direction: column;
    
}
.regisLabel{
    display: flex;
    align-items: baseline;
    margin: 0px;
    padding: 0px 5px;
}
#regisPassword{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#regisBtnStack{
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#regisPswdMessage{
    margin: 0px;
    padding: 0px 5px;
    display: flex;
}
#emailMsg{
    display: flex;
    margin: 0px 5px;
    padding: 0px 5px;
}
#regisAdminHelp{
    display: flex;
    margin: 0px 5px;
    padding: 0px 5px;
}
/* BUTTONS */
#registerBtn{
    height: 40px;
    width: 180px;
        margin: 5px;
padding: 0px;
align-items: center;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #000;
    border: solid #323A42 3px;
}
#registerBtn:hover{
    height: 40px;
    width: 180px;
       margin: 5px;
padding: 0px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #fff;
    border: solid #323A42 3px;
    background-color: #323A42;
}