/* SCORES */
/* RESULTS FORM */
#quizResultsForm{
        display: flex;
    align-items: center;
    background-color: #b39800;
    flex-direction: column;
    margin: 0px;
    padding: 15px;
    border-radius: 5px;
}
#quizResultsDetails{
        display: flex;
    align-items: center;
    background-color: #b39800;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
}
/* INPUT */
#resultOutput{
    border: none;
    background-color: transparent;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 40px;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
}
#resultsFormBtnBlock{
    display: flex;
    justify-content: center;
    width: 100%;
}
#saveScoreBtn{
    width: 200px;
     gap: 10px;
    font-weight: 700;
    color: black;
    display: flex;
    height: 40px;
    text-align: center;
    font-size: 14px;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
    border: #323A42 3px solid;
    align-items: center;
}
#saveScoreBtn:hover {
    gap: 10px;
    align-items: center;
    width: 200px;
    background-color: #323A42;
    font-weight: 700;
    height: 40px;
    color: #FFF;
    border: #323A42 solid;
    display: flex;
    text-align: center;
    font-size: 14px;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
}
/*PAST SCORES*/
#pastScoresOutput{
        width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pastScoresDisplay{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#scoresStack{
    margin: 0px;
    padding: 10px 0px;
    display: flex;
    width: 100%;
}
#scoresHeadingBlock{
    display: flex;
    justify-content: center;
    width: 100%;
}
#scoresHeading{
    font-family: "Playpen Sans", cursive;
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #3D0F13;
    margin: 0px;
    padding: 0px;
}
#selectScoresBlock{
    display: flex;
    justify-content: center;
    width: 100%;
}
#selectScoresForm{
    width: 200px;
}

/* TAbLE */
#scoresTable {
    overflow-y: scroll;
    width: 100%;
    border-collapse: collapse;
    background-color: #F7F7F7;
    margin: 0px;
    padding: 0px;
}
#scoresTable thead tr {
    background-color: #323A42;
    color: #fff;
}
#scoresTable th {
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 8px;
}
#scoresTable tbody tr:nth-child(even) {
    background-color: #D6D6D6;
        height: 35px;
        font-family: "Playpen Sans", cursive;
        font-weight: 500;
        text-align: center;
}
#scoresTable tbody tr:nth-child(odd) {
    background-color: #F7F7F7;
        height: 35px;
        text-align: center;
        font-weight: 500px;
        font-family: "Playpen Sans", cursive;
}
