#userDetails{
    display: flex;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    flex-direction: column;
  
    background-color: #83AE2C;
}
#userDetailsDiv{
    display: flex;
        margin: 0px 5px;
    padding: 0px;
    flex-direction: column;
    border: solid #323A42;
    background-color: #83AE2C;
}
#toggleEditUserRow{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;
}
#editUserCol {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#editUserBtnStack{
    background-color: #BFBFBF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    gap: 10px; 
}
#editUserStack{
    display: flex;
        background-color: #6c757d;
    justify-content: center;
    width: 800px;
    margin: 0px;
    padding: 10px 5px;
    align-items: center;
}

#edit-user-details,
#edit-user-password{
    display: flex;
    align-items: center;
    gap: 10px;

}
#editPasswordBlock{
   width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
        padding: 10px 0px;
        margin: 0px;
}
#edit-user-panal{
    width: 700px;
    border: solid;
    display: flex;
    justify-content: center;
}
#edit-password-panal{
    width: 500px;
    display: flex;
    justify-content: center;
}

/* BUTTONS */
#toggleEditAccountBtn,
#toggleEditPswdBtn{
    height: 40px;
    width: 180px;
    margin: 5px;
    padding: 0px;
    align-items: center;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #000;
    border: solid #323A42 3px;
}
#toggleEditAccountBtn:hover,
#toggleEditPswdBtn:hover{
    height: 40px;
    width: 180px;
    margin: 5px;
    padding: 0px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #fff;
    border: solid #323A42 3px;
    background-color: #323A42;
}