/* ADDQUIZ.css */
/* AddQuiz.js */
#quizList{
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0px;
    display: flex;
    background-color: olivedrab;
    flex-direction: column;
}
/* LAYOUT */
#quizListTableRow{
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
}
#newQuizSection{
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
    display: flex;
    background-color: olivedrab;
    flex-direction: column;
}
/* Layout */
#quizListRow{
    display: flex;
    width: 100%;
    margin:  0px;
    padding: 0px;
}
#addQuizRow{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#toggleQuizListCol{
     margin: 10px 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
#addQuizCol1, #addQuizCol2{
    margin: 0px;
    padding: 0px
}
#addQuizCol{
 margin: 0px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6c757d;
}
#add-quiz-panal{
    padding: 10px;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
}
#edit-quiz-panal{
   padding: 10px;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center; 
}
/* BUTTONS */
#toggleQuizListBtn, #toggleAddQuizBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    height: 40px;
    color: #000;
    border: solid #323A42 3px;
}
#toggleQuizListBtn:hover, #toggleAddQuizBtn:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    color: #FFF;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    border: solid #323A42 3px;
    background-color: #323A42;
}