#newQuizSection{
    width: 100%;
}
#addQuizRow{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#addQuizCol{
 margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}