/* ADDQUIZ.css */
/* AddQuiz.js */
/* SECTION 1 */
#quizList{
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0px;
    display: flex;
    background-color: #0095C7;
    flex-direction: column;
}
/* LAYOUT */
#quizListTableRow{
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
}
/* SECTION 2: New Quiz */
#newQuizSection{
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
    display: flex;
    background-color: #0095C7;
    flex-direction: column;
}
/* Layout */
#quizListRow{
    display: flex;
    width: 100%;
    margin:  0px;
    padding: 0px;
}
#addQuizRow{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#toggleQuizListCol{
     margin: 10px 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
#addQuizCol1, #addQuizCol2{
    margin: 0px;
    padding: 0px
}
#addQuizCol{
 margin: 0px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6c757d;
}
#editQuizCol{
        display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
#add-quiz-panal{
    padding: 10px;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
}
#edit-quiz-panal{
   padding: 10px;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center; 
}
/* QUIZ LIST TABLE */
#quizListTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #F7F7F7;
    margin: 0px;
    padding: 0px;
}
#quizListTable thead tr {
    background-color: #323A42;
    color: #fff;
}
#quizListTable th {
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 13px;
    padding: 10px 8px;
}
#quizListTable tbody tr:nth-child(even) {
    background-color: #D6D6D6;
}
#quizListTable tbody tr:nth-child(odd) {
    background-color: #F7F7F7;
}
#quizListTable td {
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    padding: 8px;
    vertical-align: middle;
}

/* BUTTONS */
#toggleQuizListBtn, #toggleAddQuizBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    height: 40px;
    color: #000;
    border: solid #323A42 3px;
}
#toggleQuizListBtn:hover, #toggleAddQuizBtn:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    color: #FFF;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    border: solid #323A42 3px;
    background-color: #323A42;
}