/* GAME.CSS */
/* Game.js */
#quizSection, #scoresSection{
    width: 100%;
    background-color: #4A7A39;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#startQuizRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#quizDisplayRow{
    width: 100%;
    display: flex;
}
/* LAYOUT */
#selectQuizRow{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#selectQuizCol{
    display: flex;
    margin: 0px;
    padding: 10px 0px;
}
#quizDisplay{
    display: flex;
    width: 100%;
        flex-direction: column;
}
#quiz-display-panal, #start-quiz-panal{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/* PastScores */
#pastScoresRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#pastScoresCol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pastScoresOutput{
        display: flex;
    justify-content: center;
}
/* BUTTONS */
#togglePastScoresBtn{
        display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    height: 40px;
    color: #000;
    border: solid #323A42 3px;
}
#togglePastScoresBtn:hover{
        display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    height: 40px;
    color: #FFF;
    background-color: #323A42;
    border: solid #323A42 3px;
}
#quiz-display-panal{
    border: solid;
    background-color: #efefef;
    width: 100%;
}