/* GAME.CSS */
/* Game.js */
#quizSection, #scoresSection{
    width: 100%;
    background-color: #4A7A39;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#selectQuizRow{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#selectQuizCol{
    display: flex;
    margin: 0px;
    padding: 10px 0px;
}