/* Home.css */
/* HOME PAGE */
/* Home.js */
#homeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 0px 10px 0px;
}
/* SECTION 1: welcome message*/
#welcomeSection, #userProfile{
    background-color: #0095C7;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#welcomeRow {
    margin: 10px 0px;
    width: 100%;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
}
#welcomeDiv {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 5px 0px 5px 0px;
    color: #3D0F13;
    align-items: center;
    background-color: #B7B7B7;
    height: 100px;
    justify-content: center;
}

/* Text */
.welcomeLabel {
    display: flex;
    color: #3D0F13;
    gap: 10px;
    align-items: baseline;
    margin: inherit;
    text-decoration: underline;
    padding: 5px 10px;
}
#welcomeHeading,
#welcomeUser {
    display: flex;
    text-transform: uppercase;
    color: #3D0F13;
    font-family: "Playpen Sans", cursive;
    
    padding: 0px 0px 0px 5px;
    margin: 0px;
    font-style: italic;
    margin: 0px;
    font-size: 32px;
    font-weight: 800;
}
/* SECTION 2 User profile */
/* USER PROFILE */

#userProfileBlock{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
/* User Details */
#userDetails{
    display: flex;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    background-color: #0095C7;
}
#userDetailsDiv{
    display: flex;
    padding: 0px;
    flex-direction: column;
    border: solid #323A42;
    background-color: #B7B7B7;
    width: 80%;
    margin: 10px 5px;
}
/* Layout */
#profileHeadingRow,
#userDetailsRow1, #userDetailsRow2{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
}
#profileHeadingCol{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
#userDetailsCol1, #userDetailsCol2, #userDetailsCol3, 
#userDetailsCol4, #userDetailsCol5{
    display: flex;
    margin: 0px;
    padding: 0px;
}
/*User Details Text */
.emailData{
    text-transform: lowercase;
    font-family: "Playpen Sans", cursive;
    font-size: 20px;
}
#adminDataText, #usernameDataText,.currentUserFullName{
    text-transform: uppercase;
    font-family: "Playpen Sans", cursive;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    
}
/* EDIT LAYOUT */
#editUserCol {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
#editUserBtnStack{
    background-color: #BFBFBF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    gap: 10px; 
}
/* EditUserData.js */
/* TEXT */
#userProfileHeading{
    display: flex;
    margin: 10px 0px;
    padding: 0px;
    justify-content: center;
    font-family: "Playpen Sans", cursive;
    font-weight: 700;
    text-decoration: underline;
}
/* Layout */
/* Bootstrap Layout */
/* Grid */


#editUserBlock, #editPasswordBlock{
    display: flex;
    width: inherit;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px;
    align-items: center;
    margin: 0px;
    background-color: #6c757d;
}
#toggleEditUserRow{
    display: flex;
    width: 100%;
        margin: 5px 0px 0px 0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;
}


#editUserStack{
    display: flex;
    
    justify-content: center;
    width: 800px;
    margin: 0px;
    padding: 10px 5px;
    align-items: center;
}
#edit-user-details,
#edit-user-password{
    display: flex;
    align-items: center;
    gap: 10px;

}


#edit-user-panal, #edit-password-pana{
    width: inherit;
  
    display: flex;
    justify-content: center;
}


/* BUTTONS */
#toggleEditAccountBtn,
#toggleEditPswdBtn{
    height: 40px;
    width: 180px;
    margin: 5px;
    padding: 0px;
    align-items: center;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #000;
    border: solid #323A42 3px;
}
#toggleEditAccountBtn:hover,
#toggleEditPswdBtn:hover{
    height: 40px;
    width: 180px;
    margin: 5px;
    padding: 0px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #fff;
    border: solid #323A42 3px;
    background-color: #323A42;
}