#regisSection{
    background-color: olive;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
        justify-content: center;
}
#regis-panel{
    width: 95%;
    display: flex;
    margin: 10px 0px;
    padding: 5px;
}
#registrationForm{
    display: flex;
    background-color: #6c757d;
    flex-direction: column;
    margin: 0px;
    padding: 10px 5px;
    width: 100%;
}
#registrationDetails{
    background-color: #A8AEB3;
}
#regisHeadingRow,#regisRow1, #regisRow2, #regisRow3, #regisRow4{
    width: 100%;
    margin: 0px;
        padding: 10px 0px;

}
#regisName{
        display: flex;
    align-items: baseline;
    gap: 10px;
}
#regisEmail{
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}
.regisLabel{
    display: flex;
    align-items: baseline;
}
#regisPassword{
    display: flex;
    align-items: baseline;
    gap: 5px;
}
#registerBtn{
    height: 40px;
    width: 180px;
    margin: 10px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #000;
    border: solid #323A42 3px;
}
#registerBtn:hover{
    height: 40px;
    width: 180px;
    margin: 10px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #fff;
    border: solid #323A42 3px;
    background-color: #323A42;
}
#infoSection{
    background-color: olive;
    margin: 10px 0px;
    padding: 10px 5px;
    width: 100%;
}
#regisRequire{
   
    font-family: "Alkatra", system-ui;
    margin: 0px;
    border: none;
    padding: 0px;
    font-weight: 700;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 5px;

}
.rule{
    font-family: "Playpen Sans", cursive;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 5px;

}
#rulesCard{
    background-color: #D6D6D6;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#rulesHeader{
    border: none;
    background-color: transparent;
    margin: 0px;
    padding: 10px 5px;
}
#rule1, #rule2, #rule3, #rule4, #rule5{
    background-color: transparent;
    font-family: "Playpen Sans", cursive;
        margin: 0px;
    border: none;
    font-size: 14px;
    padding: 5px;
        font-weight: 700;
        display: flex;
        align-items: center;
}
#rulesCol{
    display: flex;
    margin: 0px;
    padding: 0px;
}