/* Users.css */
/* Users.js */
/* SECTION 1: User List */
#userList {
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0px;
    display: flex;
    background-color: #0095C7;
    flex-direction: column;
}
/* LAYOUT */
/* Bootstrap Layout */
/* Grid */
#userListHeadingRow {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #000;
    display: flex;
}
#userListHeadCol1,
#userListHeadCol2 {
    margin: 0px;
    padding: 0px;
}
#userListHeadCol {
    margin: 0px;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}
#userListRow {
   display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px 15px;
}
#userListCol1,
#userListCol2 {
    margin: 0px;
    padding: 0px;
}
#userListCol {
    margin: 0px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* TEXT */
#toggleUserListCol {
    margin: 10px 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
#toggleUserListBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    height: 40px;
    color: #000;
    border: solid #323A42 3px;
}
#toggleUserListBtn:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    color: #FFF;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    border: solid #323A42 3px;
    background-color: #323A42;
}
#userListHeading {
    font-family: "Playpen Sans", cursive;
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #FFF;
    margin: 0px;
    padding: 10px 0px;
}
